<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/site.css" rel="stylesheet">
</head>
<body>
  <h4>click image to upload to /uploads</h4>
  <section class="images">
    <div>
      <img src="images/dori.jpeg" />
    </div>
    <div>
      <img src="images/bird.png" />
    </div>
    <div>
      <img src="images/spb.png" />
    </div>
  </section>

  <script src="js/upload.js"></script>
</body>
</html>
